.pagination {
    width: 300px !important;
    margin: 10px auto 0 !important;
}

.page-item a{
    border: 0 !important;
    padding: 0;
    font-size: 16px;
    font-weight: 600;
    color: rgb(6, 170, 72);
    border-style: solid;
    border-color: rgb(6, 170, 72);
    border-width: 0px 2px 2px 0px;
}

.page-item a:hover , 
.page-item a:active , 
.page-item a:link, 
.page-item a:visited , 
.page-item a:focus{
    color:rgb(6, 170, 72);
    background-color: white;
    border: 0;
}

.page-item h3{
    width: 275px;
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    text-align: center;
    color: rgb(51, 51, 51);
    margin: 0px auto;
    text-transform:capitalize;
}



